/* OUR RESEARCH */

#our-research {
    display: flex;
    gap: 8.5em;
    justify-content: center;
    margin: auto;
    padding-top: 4.8em;
    padding-bottom: 4.8em;
}

.our-research-text {
    text-align: left;
    width: 36em;
}

.our-research-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 30em;
  width: 30em;
}

.our-research-image img {
  flex-shrink: 0;
  height: 100%;
  width: auto;
}

.research-details-container {
    display: flex;
    background-color: var(--white);
    gap: 4.8em;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    padding-top: 6em;
    padding-bottom: 6em;
}

.researh-nav {
    display: flex;
    flex-direction: column;
    width: 18em;
    padding: 2.3em;
    gap: 2.3em;
    border: 1px solid var(--gray-02);
}

.highlighted-research {
    width: 49.5em;
}

.researh-nav  p.allCaps.active {
    color: var(--osc-brand-color);
}

.project {
    display: flex;
    flex-direction: column;
    
}
.bullet-line {
    display: flex;
    margin-top: 1.6em;
}

.bullet {
    font-size: 1em;
    margin-right: 0.75em;
    margin-left: 0.75em;
    margin-top: 0.25em;
}

.media-image-container {
    text-align: left;
}

.media-contents {
    display: inline-block;
}

.media-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 29.5em;
    margin-top: 1.6em;
  }
  
.media-image img {
    flex-shrink: 0;
    height: 100%;
    max-width: 49.5em;
}

.project p.label {
    margin-top: 0.75em;
}

.past-projects {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
}

.past-project {
    display: flex;
    width: 24em;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3em;
}

p.projectTitle {
    color: var(--White, #FFF);
    text-align: center;
    font-family: 'Petersburg, Regular';
    font-size: 0.875em;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

p.projectAuthor {
    color: var(--white);
    text-align: center;
    font-family: 'Apertura, Regular';
    font-size: 0.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.022em;
    text-transform: uppercase;
}

p.project-title {
    color: var(--gray-06);
    font-family: 'Apertura, Regular';
    font-size: 0.875em;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.035;
    text-transform: uppercase;
}

p.project-content {
    color: var(--gray-05);
    font-family: 'Apertura, Regular';
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.01em;
    margin-top: 0.5em;
}
.green-box {
    border-radius: 0.125em;
    background: linear-gradient(180deg, var(--osc-brand-color) 0%, var(--osc-green-05) 100%);
    width: 11.625em;
    height: 16.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 4.2em 0.8em 2.325em 0.8em;
    gap: 8.3em;
    flex-shrink: 0;
    margin-bottom: 1.5em;
}

.project-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: auto;
    width: 24em;
  }
  
  .project-media img {
    flex-shrink: 0;
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 0.75em;
  }