:root {
  --brand-color: #008771;
  --dark-blue: #112E3D;
  --white: #FFFFFF;
  --heading-text: #03201B;
  --body-text: #1C3A49;
  --secondary-bg: #F0F6F9;
}

body {
  margin: 0;
  font-family: apertura, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--body-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: var(--brand-color);
}

/* TYPEOGRAPHY  */

/* TO DO: the typography doc says h1 should be 64/68 but in the mock up it says its 70 --> which is correct?  */
h1 {
  font-size: 70px;
  line-height: 74px;
  font-family: petersburg-web, serif;
  font-style: normal;
  font-weight: 400;
  color: var(--white);
}

h2 {
  font-size: 48px;
  line-height: 52px;
  font-family: petersburg-web, serif;
  font-style: normal;
  font-weight: 400;
  color: var(--dark-blue);
  margin: 0;
}

h3 {
  font-size: 36px;
  line-height: 40px;
  font-family: petersburg-web, serif;
  font-style: normal;
  font-weight: 400;
}

h4 {
  font-size: 26px;
  line-height: 32px;
  font-family: apertura, sans-serif;
  font-style: normal;
  font-weight: 500;
}

h5 {
  font-size: 20px;
  line-height: 24px;
  font-family: apertura, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--dark-blue);
}

h6 {
  font-size: 16px;
  line-height: 24px;
  font-family: apertura, sans-serif;
  font-style: normal;
  font-weight: 500;
}

p.subtext {
  font-size: 16px;
  line-height: 20px;
  font-family: apertura, sans-serif;
  font-style: normal;
  font-weight: 400;
}

p.allCaps {
  font-size: 14px;
  line-height: 20px;
  font-family: apertura, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: var(--white);
}

a {
  text-decoration: none;
}

button {
  font-size: 15px;
  line-height: 20px;
  font-family: apertura, sans-serif;
  font-style: normal;
  font-weight: 700;
  border-radius: 2px;
  border: solid 1px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

button.green {
  background-color: var(--brand-color);
  color: var(--white);
  border-color: var(--brand-color);
}

button.white {
  background-color: var(--white);
  color: var(--dark-blue);
  border-color: --dark-blue;
}

button.transparent {
  background-color: transparent;
  border-color: var(--white);
  color: var(--white);
}

p {
  margin: 0;
}

/* NAVBAR */
/* QUESTION: do you want the navbar to be sticky? do you want it to change colors while you scroll? */
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  overflow: hidden;
  z-index: 3;
  width: 100%; 
  margin-top: 20px;
}

.navbar-split {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 0px 0.002px 0px 0.016px;
  margin-right: 20px;
  margin-left: 120px;
}

.navbar-container li {
  list-style-type: none;
}

.navbar-text-with-icon {
  display: flex;
  align-items: center;
}

.nav-buttons {
  display: flex;
  margin-right: 104px;
}

.nav-buttons button{
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 16px;
}

/* ICONS */
.down-carrot {
  margin-left: 4px;
  margin-right: 16px;
}

.svg-arrow-NE {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  padding: 30px;
  margin: 0;
}

/* HOMEPAGE SECTIONS */

.about-section-container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-section-text {
  width: 792px;
  margin: auto;
  padding-top: 88px;
  padding-bottom: 96px;
}

.about-section-buttons button {
  margin: 8px;
  margin-top: 40px;
}

.about-section-images {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 96px;
}

.about-section-image {
  width: 384px;
  height: 320px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  position: relative;
  margin-left: 6px;
  margin-right: 6px;
}

.image-wrapper img {
  width: 384px;
  height: 320px;
  vertical-align: middle;
}

.image-wrapper::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.about-section-image h5 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  color: var(--white);
  padding: 30px;
  margin: 0;
}

/* RATING SECTION */

.rating-section-container {
  background-color: var(--secondary-bg);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating-section-container h2 {
  padding-top: 96px;
  padding-bottom: 56px;
  width: 792px;
  margin: auto;
}

.ratings {
  display: flex;
  justify-content: center;
}

.ratings-block {
  width: 358px;
  margin-left: 32px;
  margin-right: 32px;
  padding: 40px;
}

.ratings-circle {
  background-color: var(--brand-color);
  width: 42px;
  height: 48px;
  padding: 40px;
  border-radius: 100px;
  margin: auto;
  color: var(--white);
}

.rating-section-container p {
  font-size: 40px;
  line-height: 48px;
  font-family: petersburg-web, serif;
  font-style: normal;
  font-weight: 400;
}

