body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --brand-color: #008771;
  --white: #FFFFFF;
  --heading-text: #03201B;
  --body-text: #1C3A49;
  --secondary-bg: #F0F6F9;
}
